body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("../images/island-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 260px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700px;
  font-size: 14px;
  color: #272044;
  background: #ffffff;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  padding: 16px 32px;
  margin-top: 36px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.7),
      rgba(39, 32, 68, 0.7)
    ),
    url("../images/rice-field-image.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: #ffffff;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

@media (max-with: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
